<img class="banner" src="./images/portrait-curly-pink-haired-woman-massive-white-headphones.jpg" width="900px"/>
<h2>Search your favorite artist</h2>
    <form class="form" action="/artist-search" method="GET">
        <input required class="search" type="text" name="artist" placeholder="search"/>
        <button type="submit" class="myButton">Search</button>
    </form>