<h2>Search your favorite artist</h2>
<form action="/artist-search" method="GET">
    <label>Artist name</label>
    <input required type="text" name="artist" placeholder="search"/>
    <button type="submit">Search</button>
</form>